#container {
    background:white;
    width: 100%;
    height: 100%;
}

#header1 {
    background: red;
    height: 300px;
    width: 50%;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    }

#header2 {
    background: blue;
    height: 300px;
    width: 50%;
    text-align: center;
    position: relative;
    top: 0px;
    left: 670px;
    }

    #header3 {
        background: rgb(18, 240, 18);
        height: 400px;
        width: 1000px;
        text-align: center;
        position: fixed;
        left: 200px;
        bottom: 130px;
       
        }